@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: #f3f4f6; /* gray-100 */
  color: #111827;      /* gray-900 */
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background: #111827; /* gray-900 */
  color: #f9fafb;      /* gray-50 */
}